.env
.idea 
.venv
venv
.tmp
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
.DS_Store
node_modules/
dist/
pyproject.toml
.python-version
ML/test_embed.py
test_ethics.py
data/postings.csv
data/cleaned_postings.csv